Client_BookingHotel/src/conf/xml-resources/web-service-references/KamarHotel/wsdl/localhost_8080/BookingHotel/KamarHotel.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="KamarHotel">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/BookingHotel/KamarHotel?xsd=1"/>
</xsd:schema>
</types>
<message name="getKamarHotel">
<part name="parameters" element="tns:getKamarHotel"/>
</message>
<message name="getKamarHotelResponse">
<part name="parameters" element="tns:getKamarHotelResponse"/>
</message>
<message name="addBooking">
<part name="parameters" element="tns:addBooking"/>
</message>
<message name="addBookingResponse">
<part name="parameters" element="tns:addBookingResponse"/>
</message>
<message name="delBooking">
<part name="parameters" element="tns:delBooking"/>
</message>
<message name="delBookingResponse">
<part name="parameters" element="tns:delBookingResponse"/>
</message>
<message name="editBooking">
<part name="parameters" element="tns:editBooking"/>
</message>
<message name="editBookingResponse">
<part name="parameters" element="tns:editBookingResponse"/>
</message>
<message name="tampilBooking">
<part name="parameters" element="tns:tampilBooking"/>
</message>
<message name="tampilBookingResponse">
<part name="parameters" element="tns:tampilBookingResponse"/>
</message>
<portType name="KamarHotel_Service">
<operation name="getKamarHotel">
<input wsam:Action="http://WebService/KamarHotel_Service/getKamarHotelRequest" message="tns:getKamarHotel"/>
<output wsam:Action="http://WebService/KamarHotel_Service/getKamarHotelResponse" message="tns:getKamarHotelResponse"/>
</operation>
<operation name="addBooking">
<input wsam:Action="http://WebService/KamarHotel_Service/addBookingRequest" message="tns:addBooking"/>
<output wsam:Action="http://WebService/KamarHotel_Service/addBookingResponse" message="tns:addBookingResponse"/>
</operation>
<operation name="delBooking">
<input wsam:Action="http://WebService/KamarHotel_Service/delBookingRequest" message="tns:delBooking"/>
<output wsam:Action="http://WebService/KamarHotel_Service/delBookingResponse" message="tns:delBookingResponse"/>
</operation>
<operation name="editBooking">
<input wsam:Action="http://WebService/KamarHotel_Service/editBookingRequest" message="tns:editBooking"/>
<output wsam:Action="http://WebService/KamarHotel_Service/editBookingResponse" message="tns:editBookingResponse"/>
</operation>
<operation name="tampilBooking">
<input wsam:Action="http://WebService/KamarHotel_Service/tampilBookingRequest" message="tns:tampilBooking"/>
<output wsam:Action="http://WebService/KamarHotel_Service/tampilBookingResponse" message="tns:tampilBookingResponse"/>
</operation>
</portType>
<binding name="KamarHotel_ServicePortBinding" type="tns:KamarHotel_Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getKamarHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tampilBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="KamarHotel">
<port name="KamarHotel_ServicePort" binding="tns:KamarHotel_ServicePortBinding">
<soap:address location="http://localhost:8080/BookingHotel/KamarHotel"/>
</port>
</service>
</definitions>